<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/public/favicon.ico" />
    <title>하카톤</title>
    <style>
      @import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
      body,
      html {
        margin: 0;
        padding: 0;
      }
      body,
      div,
      li,
      input,
      button,
      p,
      span,
      h1,
      h2,
      h3 {
        font-family: "Noto Sans KR", sans-serif;
      }
    </style>
    <script type="module" crossorigin src="/assets/index-1dd3551d.js"></script>
  </head>

  <body>
    <div id="root"></div>
  </body>
</html>
